.home {
  display: flex;
  height: 90vh;
  align-items: center;
  flex-direction: column;
  width: 100vw;
}

.tabs {
  .heading {
    color: rgb(20, 70, 119);
    font-size: 1.5em;
    margin-top: 2em;
  }
}

thead > tr td {
  background-color: rgb(230, 230, 230);
  text-align: left;
  padding: 0.7em 0.7em 0.5em;
  border: 2px solid rgb(231, 231, 231);
}
td {
  border: 1px solid rgb(231, 231, 231);
}
table {
  border: 1px solid rgb(231, 231, 231);
  border-collapse: collapse;
  width: 100%;
}
.tabData {
  width: 85vw;
  border-radius: 6px;
  overflow: hidden;
  margin-top: 1em;
  overflow: auto;
}
#pricingImg > img {
  width: 5em;
  height: 5em;
}

#pricingImg {
  text-align: center;
}
.actionText {
  text-align: center;
}
#actionCol > div > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 0.7em;
}
#actionCol i {
  color: rgb(231, 231, 231);
  font-size: 1.5em;
}
.highLight {
  color: rgb(142, 161, 212) !important;
}
#actionCol {
  text-align: center;
}

.actionLogos {
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}

.campaignInfo {
  display: flex;
  width: 14em;
}
.campaignInfo > .logo {
  padding: 0em 0.5em;
}
.campaignInfo > .logo img {
  width: 2em;
  height: 2em;
}
:host >>> mat-form-field {
  margin-right: 12px;
  width: 0em;
  height: 0em;
}
