.box {
  position: relative;
  background: rgb(132, 160, 42);
  border: 2px solid rgb(132, 160, 42);
  color: white;
  padding: 0.5em 1em;
  margin: 0.3em;
  font-weight: bold;
  cursor: pointer;
  width: 15em;
  text-align: center;
}
.box.selected {
  color: rgb(132, 160, 42);
  background-color: #fff;
}
.box.selected:after,
.box:before {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.box.selected:before {
  border-color: rgba(194, 225, 245, 0);
  border-top-color: rgb(132, 160, 42);
  border-width: 7px;
  margin-left: -7px;
}
.tabs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
