/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
body {
  display: flex;
  margin: 0;
}

* {
  box-sizing: border-box;
}

// .mat-input-element .mat-form-field-autofill-control .cdk-text-field-autofill-monitored {
//   display: none;
// }

.mat-form-field-infix {
  display: none !important;
}

.mat-form-field-flex {
  position: absolute;
  top: 0;
}
